#Files to ignore
#General
*.fastq
*.fastq.gz
*.rar
*.rdx
*.RData
*.DS_Store
*.fasta
*.Rhistory
*.Rproj.user
#Specific Files
Data/Bat_Data/*.fastq
Data/Bat_Data/*.fastq.gz
Data/Bat_Data/*.zip
Data/Bat_Data/*.rar
Data/wolf_metabarcoding_dataset/*.fasta
Data/wolf_metabarcoding_dataset/*.fasta
Data/wolf_metabarcoding_dataset/*.ndx
Data/wolf_metabarcoding_dataset/*.rdx
*.DS_Store
