#Files to ignore
*.rar
*.rdx
*.RData
*.DS_Store
*.fasta
*.Rhistory
*.Rproj.user
#Specific Files

Data/Bat_Data/*.zip
Data/Bat_Data/*.rar
Data/Bat_Data/*.fas
Data/wolf_metabarcoding_dataset/*.fasta
Data/wolf_metabarcoding_dataset/*.fasta
Data/wolf_metabarcoding_dataset/*.ndx
Data/wolf_metabarcoding_dataset/*.rdx

#More files
Data/MiSeq_SOP/*.fastq
Data/MiSeq_SOP/*.fasta
Data/MiSeq_SOP/*.fa
Data/MiSeq_SOP/filtered/*fastq.gz
Data/MiSeq_SOP/*.batch
Data/MiSeq_SOP/*.files
Data/MiSeq_SOP/*.metadata
Data/MiSeq_SOP/*.design
Analysis/*.fa
Data/wolf_tutorial/*.fa

*.DS_Store
.Rproj.user

#ObiTools Wolf Project Files
Data/wolf_tutorial/taxdump/*.dmp
Data/wolf_tutorial/taxdump/*.txt
Data/wolf_tutorial/taxdump/*.prt
Data/wolf_tutorial/*.ndx
Data/wolf_tutorial/*.tdx
Results/Mouse/*.fa
Data/wolf_tutorial/*wolf.obidms

#ObiTools Bat Project Files
*.oda
*.odd
*.odc
*.odv
